@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Lato");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "rubik";
}

body {
    overflow: hidden;
}

.background {
    margin-top: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(/assets/images/caution.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}



.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: point;
}

.cabeçalho-link a {
    color: #fff;
    font-size: 22px;
}

.cabeçalho-link a:hover {
    color: #2ecc71;
    transition: 0.3s all;
}

.logo {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    cursor: pointer;
}

button {
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}

.container-text {
    padding: 150px 0px 0px 130px;
}

.text h3 {
    color: #fff;
    font-size: 25px;
}

.text h1 {
    color: #fff;
    margin-top: 10px;
}

.text span {
    color: #2ecc71;
}

.text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a {
    padding-top: 20px;
    font-size: 35px;
    color: #2ecc71;
    padding: 10px;
    margin-top: 100;
}

.btn {
    margin-top: 20px;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.rodaPe {
    background-color: rgba(2, 44, 111, 0.711);
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: rubik;
    font-weight: 20px;
}


.textoTodo {
    text-align: center;
    margin-top: 250px;
}


.cabeçalho-link2 {
    padding-left: 50px;
    gap: 3rem;
    font-weight: 300;
    cursor: point;
}

.cabeçalho-link2 a {
    color: #ff0008;
    font-size: 22px;
}

.cabeçalho-link2 a:hover {
    color: #2ecc71;
    transition: 0.3s all;
}